#big-cat{
  display: block;
}


#small-cat{
  display: block;
}

button{
  display: block;
  margin: auto ;
  margin-top: 20px;
}

footer {
  background: linear-gradient(30deg, #bbdefb, #b3e5fc 65%);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -20px;
  color: black;
  text-align: center;
  font-style: normal;
}

footer address {
  margin-top: 8px;
}

footer a {
  margin: 15px;
}
